body{
    background-color: black;
}

h3{
    font-size:36px;
    line-height:1.5;
    color:#f05F57;
}

h5{
    font-size: 24px;
    color: #eeeeee;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px ;
}

p{
    color:#707070;
}

li{
    color:white;
}

header a{
    color:rgb(107, 121, 133);
}

p.lead{
    color:rgb(29, 114, 125);
}

img{
    max-width: 100%;
}

#intro .jumbotron{
    height:50vh;
    margin-bottom: 0px;
    /* background: rgb(65, 62, 62); */
    background: linear-gradient(-65deg,rgb(161, 161, 68), #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 150% 150%;
    animation: gradientBG 5s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#intro .jumbotron img{
    height:300px;
    /* float:right; */
}

#intro h1{
    font-size:52px;
    font-weight:500;
    line-height:1.5;
    color:#f05F57;
    color: #eeeeee;
    font-family: "League Gothic", Impact, sans-serif;
    /* line-height: 0.9em;
    letter-spacing: 0.02em; */
    /* text-transform: uppercase; */
    text-shadow: 0px 0px 6px ;
}

.btn{
    background-color: #f05F57;
    color:white;
    border: 1px solid transparent;
    padding: 8px 14px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 20px;
}

#intro .container{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

header nav img{
    width:80px;
}

header li{
    margin:0px 18px;
}

#home{
    height:70px;
    width:100px;
    border-radius:20px;
    color:#84419D;
    background-color:rgb(56, 55, 55);
    font-size:20px;
    bottom:0;
    right:0;
    position:fixed;
    margin-bottom: 20px;
}

#home:hover{
    background-color: #6BCAE2;
    color:black;
    color:#31275B;
    transition: 0.3s;
    transform: scale(1.3);
    margin-right: 20px;
}

#team{
    margin-top: 100px;
    padding:100px 0px;
}
#team img{
    width:150px;
    background:rgba(255,255,255,0.2);
    /* margin-top: 50px; */
}

#team img:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

#member{
    margin-top: 300px;
}

#second{
    padding:80px 0px;
}

#demon{
    border:#f05F57 solid 1px;
    padding:20px 0px;
}

#second h3{
    margin-bottom: 80px;
}

#second img{
    width:110px;
    border-radius: 100%;
    margin-bottom: 15px;
}

#latest{
    padding: 80px 0px;
    background: rgb(0, 0, 0);
}

#latest h3{
    margin-bottom: 80px;
}

#latest .upper{
    position:relative;
}

#latest .inner_text{
    position:absolute;
    bottom:10px;
    left:25px;
    color:aliceblue;
}

#latest .inner_text span{
    background:rgba(255,255,255,0.4);
    padding: 6px 15px;
    border-radius: 20px;
}

#latest .inner_text h4{
    font-size: 22px;
    margin-top: 15px;
}

#latest .lower h3{
    font-size: 28px;
    margin-bottom: 15px;
}

#latest .lower span{
    font-size: 24px;
    margin-bottom: 15px;
    color:#707070;
}

#latest img:hover{
    transition: 0.5s;
    transform: scale(1.1);
}


.skywho h5 {
    font-size: 24px;
    margin-top: 15px;
    color: #eeeeee;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px ;
}

.skywho span{
    font-size: 24px;
    margin-bottom: 150px;
    color:#707070;
}

#skygame{
    margin-top:90px;
}

.header_icon img{
    transition: 0.5s;
  }
  
  .header_icon img:hover{
    transition: 0.5s;
    transform: scale(1.1);
  }

#contact{
    margin-top: 80px;
}

  .box{
    background:#84419D;
    transition: 0.3s;
    width: 200px;
    height: 200px;
  }
  
.box p{
    color:white;
}

  .box:hover{
    background-color: #6BCAE2;
    color:black;
    color:#31275B;
    transition: 0.3s;
    transform: scale(1.1);
  }

  #contact{
    color:aqua;
    margin-bottom: 100px;
  }

